/*.header, .search, .body, .footer{
  border: 2px solid black;  
}*/
body {
  margin: 0;
  padding: 0;
}
.header {
  height: 100px;
  background: #784BB3;
  color: white;
}
.header h2, #searchBox, .results input {
  text-align: center;
}
.header h2 {
  font-family: 'Ubuntu', sans-serif; 
  font-size: 40px;
  font-weight: bold;
  margin-top: -9px;
  padding: 25px;
}
.body, .left, .right {
  height: 400px;
}
.search {
  height: 100px;
}
.left{
  width: 50%;  
}
.right {
  width: 40%;
  margin-left: 650px;
  margin-top: -620px;
  border-left: 2px solid #784BB3;
}
#searchBox {
  margin-left: 400px;
  margin-top: 20px;
  width: 320px;
  height: 40px;
  font-size: 20px;  
}
#submit {
  width: 100px;
  height: 40px;
  padding: 5px;
  margin-left: -4px;
  border-radius:6px;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  color: #784BB3;
}
#avatar img, #repos {
  position: absolute;
}
#avatar img {
  height: 190px;
  border-radius: 100px;
  border: 2px solid black;
  margin-left: 180px;
  margin-top: -220px;
}
#repos {
  overflow: auto;
  width: 500px;
  height: 400px;
}
#repos ul li {
  list-style-type: none;
  font-family: 'Ubuntu', sans-serif; 
  text-decoration: underline;
}
.results {
  margin-top: 250px;
  margin-left: 70px;
}
.results div {
  padding: 15px;
}
.results input {
width: 45px;
border: 2px dotted black;
border-radius: 10px;
height: 25px;
font-size: 20px;
}
.left-results, .right-results {
  display: inline-block;
}

span, input, button {
  font-family: 'Ubuntu', sans-serif;
}
/*.footer p {
  font-size: 12px;
  margin-top: 80px;
  position: fixed;
}*/