.no-thumbnail{
  border:none !important;
}
.header {
  background: #784BB3;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}
.header h2, #repos ul li a, .error, #submit {
  font-family: 'Ubuntu', sans-serif;
}
.header h2 {  text-align: center;
  
  font-weight: bold;
  font-size: 40px;
}
.search {
  text-align: center;
  margin-bottom: 20px;
}
.row-blocks{
  margin-top: 20px;
  margin-bottom: 20px;
}
#repos ul li {
  list-style-type: none;
}
#repos {
  overflow: auto;
  width: 500px;
  height: 400px;
}
#repos ul li a {
  font-size: 15px;
}
.error {
  color: red;
  font-size: 25px;
  text-align: center;
}
#submit, #repos ul li a {
  color: #784BB3;
}